header div.poster{
  text-align: center;
}
div.section {
  float: left;
  position: relative;
  padding: 80px 0 40px 0;

  .container {
    position: relative;
    height: 100%;
    width: 73.1%;
    justify-content: center;
    padding: 0 ;
  }

  main.details {
  	width:100%;

    article {
      background-color: rgb(255, 255, 255);
    }

    div.img-publication {
      position: relative;
      float: left;
      width: 100%;
      height: 530px;
      border: 5px solid rgb(247, 247, 247);
      margin-bottom: 50px;
    }

    div.data-publication {
      flex-direction: column;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 50px;
      background-color: rgb(255, 127, 0);
      text-align: center;
      padding-top: 10px;
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      line-height: 18px;

      span {
        font-family: Montserrat;
      }

      .day {
        font-size: 23px;
        font-weight: 700;
        margin-bottom: 4px;
      }

      .month {
        font-weight: 700;
        font-size: 12px;
      }

    }

    div.content-article {
      float: left;
      width: 100%;
      padding: 0;
    }

    div.description {
      margin-bottom: 22px;
      flex-direction: column;

      h3 {
        color: #222222;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;
        text-transform: uppercase;
      }

      span.master {
        margin-bottom: 40px;
        color: #757575;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;

        &::before {
          content: "\e69c";
          font-family: 'Stroke-Gap-Icons';
          margin-right: 8px;
          font-size: 13px;
        }
      }

      span {
        color: #8b8b8b;
        font-size: 13px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 10px;
      }
    }

    div.social-tags-bar {

      height: 36px;
    }

    div.social-bar {
      justify-content: space-between;
      border: 1px solid #efefef;
      border-radius: 18px;
      width: 165px;
      margin-left: -5px;
      padding-right: 14px;

      a {
        display: flex;
        align-items: center;
      }

      span {
        color: #707070;

        &::before {
          margin-top: 3px;
          display: block;
          font-size: 12px;
          font-weight: 400;
          color: #757575;
        }

        &:hover {
          color: #d56d07;
        }
      }

      span.send-icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        background-color: #ff7f00;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: -8px;

        &:after {
          content: "\e6a2";
          font-family: 'Stroke-Gap-Icons';
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          color: #ffffff;
        }
      }

      span.facebook-icon::before {
        content: "\f09a";
      }

      span.twitter-icon::before {
        content: "\f099";
      }

      span.google-icon::before {
        content: "\f0d5";
      }

      span.pinterest-icon::before {
        content: "\f231";
      }

    }

    div.tags-bar {
      margin-left: 50px;

      span {
        color: #8b8b8b;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 24px;
        margin-right: 10px;
        font-style: italic;

        &:first-letter {
          text-transform: uppercase;
        }
      }

      span.tag {
        color: #757575;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 600;
        line-height: 24px;

        &::before {
          content: "\f02c";
          margin-right: 8px;
        }
      }
    }

  }

}

